/*화면 크기 맞추기*/
body{
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    width: 390px;
    height: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
/*아이폰 상단바*/
.statusBar,.FooterBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.4615px 25px 11.5385px 25.9615px;
    gap: 197.12px;
    isolation: isolate;
    width: 375px;
    height: 45.19px;
    margin: 0 auto;
    margin-top: -13px;
}
/*목록, 로고 아이콘*/
.icon {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 64px;
    margin-left: 24px;
}
.list_icon{
    margin-right:-10px;
    margin-top:-10px;
}
.logo{
position: absolute;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #3A7BBC;
}
.back_icon{
position: relative;
width: 24px;
height: 24px;
top: 124px;
left: calc(-1410%);

}
.category h2{
position: absolute;
width: 100px;
height: 24px;
left: calc(50% - 89px/2 );
top: 110px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
}
/*운동 버튼*/
.workoutbtn-container{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 5px;
position: absolute;
width: 900px;
height: 27px;
left: calc(50% - 410.64px/2 + 21.32px);
top: 169px;
flex: none;
order: 0;
flex-grow: 0;

}
.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8{
position: absolute;
width: 40px;
height: 25px;
left: 0px;
top: 0px;
background-color: rgba(58, 123, 188, 0.08); 
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-align: center;
color: black;
flex: none;
order: 1;
flex-grow: 0;
}
.w2{
left: 48px;
order: 2;
}
.w3{
    left: 97px;
    order: 3;
}
.w4{
    left: 145px;
    order: 4;
}
.w5{
    left: 195px;
    order: 5;
} 
.w6{
    left: 245px;
    order: 6;
}  
.w7{
    left: 292px;
    order: 7;
}
.w8{
    left: 325px;
    order: 8;
}     
.workoutbtn-container div:hover{
background-color: #3A7BBC ;
color: white;
}
/*운동 목록*/
.arm-container{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
position: absolute;
width: 342px;
height: 600px;
left: calc(50%+24px);
top: 239px;
}
.arm-category1,.arm-category2,.arm-category3,.arm-category4
,.arm-category5,.arm-category6,.arm-category7{
width: 342px;
height: 72px;
flex: none;
order: 0;
flex-grow: 0;
position: absolute;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.name{
/* 오버 헤드 익스텐션 */
position: absolute;
width: 160px;
height: 26px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #000000;
top: 20px; 
left: 17px;
margin: 0; 
}
.level{
/* 덤벨, 난이도 ★★☆☆☆ */
position: absolute;
width: 300px;
height: 19px;
left: 17px;
top: 30px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.arm-category2{
order: 1;
top: 100px;
}
.arm-category3{
order: 2;
top: 200px;
}
.arm-category4{
order: 3;
top: 300px;
}
.arm-category5{
order: 4;
top: 400px;
}
.arm-category6
{
order: 5;
top: 500px;
}
.arm-category7{
order: 6;
top: 600px;
}
.arm-category1:hover,.arm-category2:hover,.arm-category3:hover,.arm-category4:hover
,.arm-category5:hover,.arm-category6:hover,.arm-category7:hover{
    background-color: rgba(58, 123, 188, 0.08); 
}
/*아이폰 하단바*/
.FooterBar {
    right: 16px;
    margin-top: 1000px;
}