body {
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    width: 390px;
    height: 1100px;
    margin: 0 auto;
    background-color: #FFFFFF;
    flex-direction: column;

}
/*아이폰 상단바*/
.statusBar,.FooterBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.4615px 25px 11.5385px 25.9615px;
    gap: 197.12px;
    isolation: isolate;
    width: 375px;
    height: 45.19px;
    margin: 0 auto;
    margin-top: -13px;
    z-index: 1;
}
.FooterBar {
    right: 16px;
    margin-top: 1100px;
}

a {
    text-decoration: none;
}

.fst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 24px;
}
.logo {
    margin-right: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A7BBC;
}
.list_icon {
    margin-left: 250px;
}
.sec {
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.sec img{
    margin-left: 115px;
}
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 35px;
    background: #3A7BBC;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.search-input {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}
.search-input::placeholder {
    color: white;
}
.workoutbtn-container {
    display: flex;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    color: black;
    flex-direction: row;
}
.fourth {
    text-align: center;
    justify-content: center;
}
.fifth {
    position: relative;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
  }
  .fifth img {
    width: 300px; /* 원하는 가로 크기로 변경하세요 */
    height: auto; /* 세로 크기는 가로 크기에 따라 자동 조정됩니다 */
    margin-bottom:40px;
  }
  

/* .fifth {
    margin-top: 5%;
    margin-left:auto;
    text-align: center;
    justify-content: center;
    position: relative;
}
.fifth img[src="img/grayheart.png"],.sixth img[src="img/grayheart.png"],.sev img[src="img/grayheart.png"]{
    position: absolute;
    top: 73%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}
.fifth img[src="img/heart.png"],.sixth img[src="img/heart.png"],.sev img[src="img/heart.png"] {
    position: absolute;
    top: 73%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}
.fifth img[src="img/share.png"] {
    position: absolute;
    top: 73%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}
.sixth {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    position: relative;
}
.sixth img[src="img/heart.png"] {
    position: absolute;
    top: 73%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}
.sixth img[src="img/share.png"] {
    position: absolute;
    top: 73%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}

.sev {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    position: relative;
}
.sev img[src="img/heart.png"] {
    position: absolute;
    top: 73%;
    left: 83%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
}
.sev img[src="img/share.png"] {
    position: absolute;
    top: 73%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: auto;
} */
.fifth h3{
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;
    color: black;
}
.fifth h2{
    position: absolute;
    top: 90%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 12px;
    color: gray;
}
/* .sixth h1{
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;
    color: black;
}
.sixth h2{
    position: absolute;
    top: 80%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 12px;
    color: gray;
}
.sev h1{
    position: absolute;
    top: 70%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;
    color: black;
}
.sev h2{
    position: absolute;
    top: 80%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 12px;
    color: gray;
    white-space: nowrap;
} */