body {
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 845px;
    margin: 0 auto;
    background-color: #FFFFFF;
    align-items: center;
}
.fst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 28px;
}
.logo {
    margin-right: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A7BBC;
}
.list_icon {
    margin-left: 270px;
}
.sec {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    position: relative;
}
.thrd {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

}
.image-container {
    position: relative;
}
.image-container h2 {
    position: absolute;
    top: 16px;
    left: 8px;
    margin: 0;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.category img {
    margin-bottom: 6px;
    width: 200px;
    height: 80px;
}
.fourth {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right:8%;
    margin-top: 2%;
}

.fourth img {
    width: 61px;
    height: 61px;

}
