body {
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    width: 390px;
    height: 1550px;
    margin: 0 auto;
    background-color: #FFFFFF;
    flex-direction: column;
}
/*아이폰 상단바*/
.statusBar,.FooterBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.4615px 25px 11.5385px 25.9615px;
    gap: 197.12px;
    isolation: isolate;
    width: 375px;
    height: 45.19px;
    margin: 0 auto;
    margin-top: -13px;
    z-index: 1;
}
.fst {
    position: relative;
    margin: 0;
    width: 390px;
    height: 450px;
    overflow: hidden;
}
.fst img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}
.coupon {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}
.coupon img {
    position: absolute;
    width: 340px;
    height: 50px;
    top: 69%;
    left: 50%;
    transform: translateX(-50%);
}
.coupon h2 {
    position: absolute;
    top: 70.5%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;
    color: black;
    white-space: nowrap;
}
.thrd {
    text-align: center;
    margin-top: 20%;
}
.line {
    text-align: center;
}
.fourth {
    text-align: center;
    margin-top: 10px;
    word-spacing: 30px;
}
.fifth {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 15px;
    font-weight: 40;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}
.fifth h3 {
    margin-left: 30%;

}
.box {
    padding:2%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    width: 342px;
    height: 150px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.box img{
    margin-top:3%;
    margin-left: 20px;
    width:35px;
    height:35px;
}
.text h1{
    margin-left: 15px;
width: 234px;
height: 34.4px;
left: 85px;
top: 30px;
/* 20pt semi-bold */
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
white-space: nowrap;

}
.text h4{
margin-left: 15px;
width: 232px;
height: 67.69px;
left: 87px;
top: 40.7px;

/* 12pt regular */
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #000000;

}
.reviewbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    height: 42px;
    background: #3A7BBC;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

}
.reviewbutton h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}
.FooterBar {
    right: 16px;
    margin-top: 1550px;
}
