body{
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    width:390px;
    height: 860px;
    margin: 0 auto;
    background-color: #FFFFFF;
    flex-direction: column;
  }
  /*아이폰 상단바*/
.statusBar,.FooterBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.4615px 25px 11.5385px 25.9615px;
    gap: 197.12px;
    isolation: isolate;
    width: 375px;
    height: 45.19px;
    margin: 0 auto;
    margin-top: -13px;
    z-index: 1;
}
.FooterBar {
    right: 16px;
    margin-top: 860px;
}
  .fst {
    display: flex;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 10px;
}
.character-container {
    margin-right:10px;
}
.sec{
    flex-direction: column;
    margin-left: 50px;
    font-size: 10px;
}
.thrd{
    margin-top: 15px;
    margin-left: 20px;
    position: relative; 
}
.thrd .todoex {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
}
.thrd h2 {
    position: relative; 
    z-index: 2; 
    top: -6.5px; 
    margin-left: 17px;
    font-size:18px;
    font-weight:500;
}
a {
    text-decoration: none;
    color: black;
}

