<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/health_list.css">
    <title>WEALTH</title>
</head>
<body>
<div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <div class="icon"> 
            <a href="{% url 'health:main' %}"><alt="로고" class="logo">WEALTH</a>
            <a><img src="/static/img/ic_menu.png" alt="목록" class="list_icon"></a>
        </div>
        <div class="search">
            <input id="name" placeholder="운동 이름을 검색하세요!" autocomplete="off">
            <img src="/static/img/search.png"></input>
        </div>
        <div class="workout-container">
            <div class="row">
                    <div class="workout-category" >
                        <a href="{% url 'health:arm_list' %}">
                            <h2>어깨 & 팔</h2> 
                            <img src="/static/img/어깨 팔.png">
                        </a>
                    </div>
                <div class="workout-category">
                    <h2>가슴</h2>
                    <img src="/static/img/가슴.png">
                </div>
                <div class="workout-category">
                <h2>등</h2> 
                    <img src="/static/img/어깨.png">
                </div>
                </div>
                <div class="row">
                <div class="workout-category">
                    <h2>코어</h2>
                    <img src="/static/img/코어.png">
                </div>
                <div class="workout-category">
                    <h2>하체</h2>
                    <img src="/static/img/하체.png">
                </div>
                <div class="workout-category">
                    <h2>유산소</h2>
                    <img src="/static/img/유산소.png">
                </div>
            </div>
            <div class="row"  style=" justify-content: flex-start; " >
                <div class="workout-category">
                    <h2>스포츠</h2>
                    <img src="/static/img/스포츠.png">
                </div>
                <div class="workout-category" style="margin-left:14px;">
                    <h2>기타</h2>
                    <img src="/static/img/기타.png">
                </div>
            </div>
        </div>
        <div class="FooterBar">
            <img src="/static/img/Safari Tool bar.png">
        </div>
</div>
    <script src="/static/js/health_list.js"></script>
</body>
</html>