<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/card.css">
    <title>WEALTH</title>
</head>
<body>
    <div class="container">
        <h2 class="name">성실왕 {{user.username}}</h2>
        <img src="/static/img/cardMascot1.png" class="cardmascot">
        <img src="/static/img/laurel.png" class="laurel">
        <p>오늘도 성실하게 운동한 당신! <br>
            집 가는 길에<br>
            단백질쉐이크 사드세요~
        </p>
        <div class="icon">
            <a type="button" onclick="copyUrl()"><img src="/static/img/share.png"></a>
            <a href="/static/img/Frame 137.png" download="성실왕 카드"><img src="/static/img/down.png"></a>
            <a href="https://www.instagram.com/"><img src="/static/img/instashare.png"></a>
        </div>
    </div>
    <script src="/static/js/card.js"></script>
</body>
</html>