{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/routine.css">
    <title>WEALTH</title>
</head>
<body>
<div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <div class="icon"> 
            <a href="{% url 'recRoutine:select_routine' %}"><alt="이전" class="logo">추천 루틴</a>
        </div>
        <div class="search">
            <div class="text">
                근력운동이 처음인 분들께 추천해요!
            </div>
        </div>
        <div class="arm-container">
           
            <form method="post" action="{% url 'todo:add_todo' %}">
                {% csrf_token %}
                <div class="arm-category1" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise1.name }}"> {{ exercise1.name }}</h2>
                    <h2 class="level"> {{ exercise1.content }}</h2> 
                </div>
                <div class="arm-category2" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise2.name }}"> {{ exercise2.name }}</h2>
                    <h2 class="level"> {{ exercise2.content }}</h2> 
                </div>
                <div class="arm-category3" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise3.name }}"> {{ exercise3.name }}</h2>
                    <h2 class="level"> {{ exercise3.content }}</h2> 
                </div>
                <div class="arm-category4" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise4.name }}"> {{ exercise4.name }}</h2>
                    <h2 class="level"> {{ exercise4.content }}</h2> 
                </div>
                <div class="arm-category5" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise5.name }}"> {{ exercise5.name }}</h2>
                    <h2 class="level"> {{ exercise5.content }}</h2> 
                </div>
                <div class="arm-category6" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise6.name }}"> {{ exercise6.name }}</h2>
                    <h2 class="level"> {{ exercise6.content }}</h2> 
                </div>
                <div class="arm-category7" >
                    <h2 class="name"><input type="checkbox" name="exercise" value="{{ exercise7.name }}"> {{ exercise7.name }}</h2>
                    <h2 class="level"> {{ exercise7.content }}</h2> 
                </div>
            </div>
                <input type="submit" class="plusbtn" value="선택 항목 모두 추가하기">
                
            </form>
        
        
        <div class="plusmsg">
            오늘의 루틴에 추가되었습니다
        </div>
        
        <div class="FooterBar">
            <img src="/static/img/Safari Tool bar.png">
        </div>
        
</div>
    <script src="/static/js/routine.js"></script>
</body>
</html>


<!-- ㅇ -->


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Exercise List</title>
</head>
<body>
    <h1>Exercise List</h1>
    <ul>
        {% for exercise in exercises %}
            <li>{{ exercise.name }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'todo:add_todo' %}">
        {% csrf_token %}
        {% for exercise in exercises %}
            <input type="checkbox" name="exercise" value="{{ exercise.name }}">
            {{ exercise.name }}<br>
        {% endfor %}
        <input type="submit" value="선택 항목 모두 추가하기">
    </form>
</body>
</html> -->

