<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    {% block head %} {% endblock %}
</head>
<body>
    <nav>
    <!-- 메뉴바 리스트 -->
        <ul>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="{% url 'gym' %}">헬스장</a></li>
            <li><a href="{% url 'exercise' %}">운동</a></li>
            <li><a href="{% url 'todo' %}">투두</a></li>
            <li><a href="{% url 'mypage' %}">마이페이지</a></li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>