/*화면 크기 맞추기*/
body{
    background-color: rgb(215, 208, 184);
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    width: 390px;
    height: 1106px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
   
  }
/*아이폰 상단바*/
.statusBar,.FooterBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.4615px 25px 11.5385px 25.9615px;
    gap: 197.12px;
    isolation: isolate;
    width: 375px;
    height: 45.19px;
    margin: 0 auto;
    margin-top: -13px;
}
/*이전, 목록 아이콘*/
.icon {
    display: flex;
    justify-content: space-between; /* 아이콘을 좌우로 정렬하기 위해 justify-content를 space-between으로 설정 */
    width: 100%;
    margin-top: 64px;
    margin-left: 24px;
}
.list_icon{
    margin-right:13px;
    margin-top:-10px;
}
.logo{
position: absolute;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #3A7BBC;
}

/*운동 카테고리*/
.workout-container {
    position: absolute;
    width: 333px;
    height: 440px;
    top: 195px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .workout-category {
    position: relative;
    width: calc(33.33% - 8px);
    height: 140px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
.workout-category h2{
    position: absolute;
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
    top: 20px; 
    left: 7px; 
    margin: 0; 
}
.workout-category:hover{
    background-color: rgba(58, 123, 188, 0.08); 
}
.workout-category img {
    max-width: 100%;
    margin-top: 40px; 
}
.workout-category a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
/*클릭한 todo*/
.search{
position: absolute;
width: 342px;
height: 42px;
top: 113px;
background: #3A7BBC;
border-radius: 100px;
border: none;
display: flex;
align-items: center;
padding: 0 16px; 
box-sizing: border-box;
left: calc(45%-100px); 
color: white; 
}
.search div{
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
/*추천 운동 목록*/
.arm-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 342px;
    height: 600px;
    left: calc(50%+24px);
    top: 180px;
    }
    .arm-category1,.arm-category2,.arm-category3,.arm-category4
    ,.arm-category5,.arm-category6,.arm-category7{
    width: 342px;
    height: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    }
    .name{
    /* 오버 헤드 익스텐션 */
    position: absolute;
    width: 160px;
    height: 26px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    top: 20px; 
    left: 17px;
    margin: 0; 
    }
    .level{
    /* 덤벨, 난이도 ★★☆☆☆ */
    position: absolute;
    width: 300px;
    height: 19px;
    left: 17px;
    top: 30px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    }
    .arm-category2{
    order: 1;
    top: 100px;
    }
    .arm-category3{
    order: 2;
    top: 200px;
    }
    .arm-category4{
    order: 3;
    top: 300px;
    }
    .arm-category5{
    order: 4;
    top: 400px;
    }
    .arm-category6
    {
    order: 5;
    top: 500px;
    }
    .arm-category7{
    order: 6;
    top: 600px;
    }
  
    .arm-container > div.selected {
        background-color: rgba(58, 123, 188, 0.08);
      }
      
/*선택 항목 모두 추가하기 버튼*/
.plusbtn{
position: absolute;
width: 192px;
height: 42px;
left: calc(50% - 192px/2);
top: 880px;
background: rgba(58, 123, 188, 0.08);
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
border: none;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.plusbtn:hover{
    background-color: #3A7BBC;
    color: white;
}
.plusmsg{
position: absolute;
width: 208px;
height: 31px;
left: calc(50% - 208px/2);
top: 950px;
background: #9E9E9E;
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #FFFFFF;
text-align: center;
display: none;

}
/*아이폰 하단바*/
.FooterBar {
    right: 16px;
    margin-top: 1060px;
}


