<!-- 어깨&팔 운동 목록 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팔&어깨 운동 목록</title>
</head>
<body>
    <a href="{% url 'health:health_list' %}">뒤로가기</a>

    <h3>어깨 & 팔</h3>

    <!-- 어깨&팔 운동 카테고리-->
    <!-- {% for category in categories %}
        <div>{{ category }}</div>
    {% endfor %} -->

    <p></p>

    <!-- 어깨&팔 운동 목록 -->
    {% for aHealth in aHealths %}
        <div><a href="{% url 'health:overhead' %}">{{ aHealth.arm_name  }}</a></div>
        <div>{{ aHealth.content }}</div><br>
    {% endfor %}
</body>
</html>