<!-- 내가 스크랩한 운동 목록 페이지 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스크랩한 운동 목록</title>
</head>
<body>
    <a href="{% url 'health:mypage' %}">뒤로가기</a><br>

    <a href="{% url 'health:gym_list' %}">찜한 헬스장 목록</a>

    <h3>내가 스크랩한 운동 목록</h3>

    {% for like in likes %}
        <div><a href="{% url 'health:overhead' %}">{{ like.arm_name  }}</a></div>
        <div>{{ like.content }}</div><br>
    {% endfor %}
</body>
</html>