<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/card.css">
    <title>Wealth</title>
</head>
<body>
    <div class="container">
        <h2 class="name">운동왕 이렌</h2>
        <img style="width: 195px; height: 143px;  top: 240px;" src="/static/img/cardMascot2.png" class="cardmascot">
        <img src="/static/img/laurel.png" class="laurel">
        <p style="width: 212px;">운동 목표를 달성하셨네요! <br>
            꾸준한 운동으로 올해는 건강하고<br>
            아름다운 몸을 유지해보세요~
        </p>
        <div class="icon">
            <a type="button" onclick="copyUrl()"><img src="/static/img/share.png"></a>
            <a href="/static/img/Frame 137.png" download="운동왕 카드"><img src="/static/img/down.png"></a>
            <a href="https://www.instagram.com/"><img src="/static/img/instashare.png"></a>
        </div>
    </div>
    <script src="/static/js/card.js"></script>
</body>
</html>