<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/card.css">
    <title>Wealth</title>
</head>
<body>
    <div class="container">
        <h2 class="name">끈기왕 이렌</h2>
        <img style="width: 192px; height: 143px;  top: 240px;  left: 53%;" src="/static/img/cardMascot3.png" class="cardmascot">
        <img src="/static/img/laurel.png" class="laurel">
        <p style="width: 215px;">미라클 모닝 목표를 달성하셨네요! <br>
            당신의 세상을 바꾸는 작은 습관!<br>
            앞으로도 계속 실천해보세요~
        </p>
        <div class="icon">
            <a type="button" onclick="copyUrl()"><img src="/static/img/share.png"></a>
            <a href="/static/img/Frame 137.png" download="끈기왕 카드"><img src="/static/img/down.png"></a>
            <a href="https://www.instagram.com/"><img src="/static/img/instashare.png"></a>
        </div>
    </div>
    <script src="/static/js/card.js"></script>
</body>
</html>