<!-- 메인 페이지 -->
{% extends 'base.html' %} 
{% load static %}
{% block title %}
<title>WEALTH</title>
{% endblock %} 
{% block head %} 
<link href="{% static 'css/Mainpage.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="fst">
        <a><alt="로고" class="logo">WEALTH</a>
        <!-- 리스트 수정 -->
        <a><img src="/static/img/ic_menu.png" alt="목록" class="list_icon"></a>
    </div>
    <div class="sec">
        <img
            src="/static/img/ad.png"
            style="width: 100%; height: auto; text-align: center;"
            alt="광고">
        <img
            src="/static/img/leftarrow.png"
            style="position: absolute; top: 48%; left: 8%; transform: translate(-50%, -50%); width: 20px; height: 20px;"
            alt="화살표">
        <img
            src="/static/img/rightarrow.png"
            style="position: absolute; top: 48%; left: 92%; transform: translate(-50%, -50%); width: 20px; height: 20px;"
            alt="화살표">
    </div>

    <div class="thrd">
        <div class="thrd_1">
        <a href="{% url 'health:gym' %}">
            <div class="image-container"> 
            <h2>헬스장<br>검색</h2> 
            <img src="/static/img/헬스장검색.png" style = "width:130px;height:268px;">
        </a>
    </div>
    </div>
        <div class="category">
            <div class="image-container"> 
            <a href="{% url 'health:health_list' %}">
                <h2>기구사용법</h2>
                 <img src="/static/img/기구사용법.png">
            </a>
        </div>
            <a href="{% url 'health:todo' %}">
                <div class="image-container"> 
                <h2>추천 루틴</h2>
                <img src="/static/img/추천루틴.png">
           </a>
        </div>
           <a href="{% url 'todo:todolist' %}">
            <div class="image-container"> 
            <h2>오늘의 루틴</h2>
            <img src="/static/img/오늘의루틴.png">
       </a>
    </div>
        </div>
    </div>
    <div class="fourth">
        <a href="{% url 'health:mypage' %}">
        <img src="/static/img/character.circle.png">
        </a>
    </div>



</div>


{% endblock %}