<!-- 마이페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/mypage.css">
    <title>WEALTH</title>

    {% load static %}
</head>
<body>
<div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <div class="icon"> 
            <a href="{% url 'health:main' %}"><img src="/static/img/arrowleft.png" alt="이전" class="../img/back_icon"></a>
            <a><img src="/static/img/ic_menu.png" alt="목록" class="list_icon"></a>
        </div>
        <div class="info">
            <h2> MY PAGE</h2>
            <div class="circle"><img src="/static/img/mascot.png"></div>
            <h2 class="useName"> {{user.username}} 님</h2>
            <img src="/static/img/setting2.png" alt="세팅" class="setting_icon">
        </div>
        <div class="activity">
            <p>내 활동</p>
            <div class="rec">
            <table class="recText">
                <tr><td class="act1">내가 찜한 헬스장</td><td class="act2">내가 스크랩한 운동</td></tr>
                <tr><td class="count1">2개</td><td class="count2">1개</td></tr>
            </table>
            </div>
            <a href="{% url 'health:gym_list' %}"><button class="recFooter"><h4>목록 확인하기</h4></button></a>
        </div>
        <div class="card">
            <p>내 인증 카드 확인하기</p>
            <div class="card-button">
                <a href="{% url 'health:king2' %}"><button class="card1"># 운동왕</button></a>
                <a href="{% url 'health:king1' %}"><button class="card2"># 성실왕</button></a>
                <a href="{% url 'health:king3' %}"><button class="card3"># 끈기왕</button></a>
            </div>
        </div>
        <div class="FooterBar">
            <img src="/static/img/Safari Tool bar.png">
        </div>
</div>
    <script src="/static/js/myPage.js"></script>
</body>
</html>
