<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/login1.css">
    <title>WEALTH</title>
</head>
<body>
    <div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <img src="/static/img/logo.png" style="width:39px;height:29px">
        <div class="fst">
            <img src="/static/img/characterblur.png" style="width: 90%; height: auto;" alt="캐릭터">
            <a href="{% url 'face' %}">
            <img src="/static/img/face.png" style="position: absolute; top:120px; left: 60px; width: 70px; height: auto;" alt="얼굴">
            </a>
            <a href="{% url 'login_view' %}">
            <img src="/static/img/login.png" style="position: absolute; top: 120px; right: 60px; width: 70px; height: auto;" alt="로그인">
            </a>
            <h2>or</h2>
        </div>
        
    <div class="sec">
        <h1>WEALH는 처음이신가요?</h1>
    </div>
    <div class="FooterBar">
        <img src="/static/img/Safari Tool bar.png">
    </div>

    </div>

</body>
</html>