<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/poppage.css">
    <title>WEALTH</title>
</head>
<body>
    <div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <div class="fst">
        <img src = "/static/img/character.png"style="  width : 90%; height: auto;"alt = "캐릭터">
    </div>
    <div class="sec">
        <h1>WealtH</h1>
    </div>
    <div class="FooterBar">
        <img src="/static/img/Safari Tool bar.png">
    </div>

    

    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'login1' %}";
        }, 2000);
    </script>

</body>
</html>