<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/signup.css">
        <title>WEALTH</title>
    </head>
    <body>
        <div class="container">
                <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
                <div class="fst">
                    <a href="{% url 'health:main' %}" alt="로고" class="logo">WEALTH</a>
                </div>

                <form action="{% url 'health:main' %}" method="POST">
                    {% csrf_token %}
                
                    <div class="sec">
                        이메일
                    </div>
                    <div class="sec_1" style="border: 1px solid #EDEDED;border-radius: 6px;padding : 9px; color :  gray">
                        <input id="email" type="text" name="email" value="" placeholder="이메일 주소를 입력하세요"/>
                    </div>
                
                    <div class="fourth">
                        아이디
                    </div>
                    <div class="fourth_1" style="border: 1px solid #EDEDED;border-radius: 6px;padding : 9px; color :  gray">
                        <input id="username" type="text" name="username" value="" placeholder="아이디를 입력하세요"/>
                    </div>

                    <div class="third">
                        비밀번호
                    </div>
                    <div class="third_1" style="border: 1px solid #EDEDED; border-radius: 6px;padding : 13px; color :  gray">
                        <input id="password" type="password" name="password" value="" placeholder="비밀번호를 입력하세요"/>
                    </div>
                    <div class="third_2" style="border: 1px solid #EDEDED;border-radius: 6px;padding : 13px; color :  gray">
                        <input id="password2" type="password" name="password2" value="" placeholder="비밀번호를 다시 한 번 입력하세요"/>
                    </div>
                
                    <div class="fifth" style="background: #3A7BBC; border-radius: 12px 0px;padding : 12px; ">
                        <button type="submit" type="submit" value="signup" style="color : white; font-size : 18px;">회원가입</button>
                    </div>

                    
                </form>

                <!-- <div class="FooterBar">
                    <img src="/static/img/Safari Tool bar.png">
                </div> -->
                    
        </div>
    </body>
</html>