{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/login.css">
        <title>WEALTH</title>

    </head>
    <body>
        <div class="container">
                <div class="fst">
                    <a><alt="로고" class="logo">WEALTH</a>
                </div>

                <form action="{% url 'login_view' %}" method="POST">
                    {% csrf_token %}
                
                    <div class="sec" style="border: 1px solid #EDEDED;
                        border-radius: 6px;padding : 13px; color :  gray">
                        <input id="username" type="text" name="username" value="" placeholder="아이디를 입력하세요"/>
                    </div>
                
                    <div class="third" style="border: 1px solid #EDEDED;
                        border-radius: 6px;padding : 13px; color :  gray">
                        <input id="password" type="password" name="password" value="" placeholder="비밀번호를 입력하세요"/>
                    </div>
                
                    <div class="fourth" style="background: #3A7BBC; border-radius: 12px 0px; padding : 12px;">
                        <button type="submit" type="submit" value="login" style="color : white; font-size : 18px;">로그인</button>
                    </div>

                    <div class="fifth" style="color : gray">
                        <a href="{% url 'signup_view' %}">Wealth는 처음이신가요?</a>
                    </div>
                    </div>
                </form>
        </div>
            </body>
        </html>