<!-- 완전 임시 코드 -->
{% extends 'base.html' %}
{% block title %}
<title>account</title>
{% endblock %}
{% block content %}
<!-- Page Content-->
            {% if user.is_authenticated %}
            <div>
                <h1>{{ user.username }}님</h1>
                <p><a href="{% url 'logout' %}">로그아웃</a></p>
            </div>
            {% else %}
            <br>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div>
                    <div>
                        <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요.">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
                    </div>
                </div>
                <br>
                <div>
                <input type="submit" value="로그인">
                </div>
            </form>

            <br><br>
            <hr>
            <h1>회원가입</h1>
            <br>
            <form method="POST" action="{% url 'accounts' %}">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" placeholder="Enter Your ID">
                </div>
                <div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div>
                        <input type="password" name="repeat" placeholder="Repeat Password">
                    </div>
                </div>
                <br>
                <div>
                <input type="submit" value="가입하기">
                </div>
            </form>
            {% endif %}
            <br>
            <div>
            <div>
        </div>
        </div>
    </div>
</section>
{% endblock %}