{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/todayroutine.css' %}" rel="stylesheet" />
    <title>WEALTH</title>
</head>
<body>
    <div class="container">
        <div class="statusBar"><img src="/static/img/Status Bar (iPhone).png"></div>
        <div class="icon1"> 
            <a href="routine.html"><img src="/static/img/arrowleft.png" alt="이전" class="../img/back_icon"></a>
                    <h2>오늘의 루틴</h2>
            <a><img src="/static/img/ic_menu.png" alt="목록" class="list_icon"></a>
        </div>
        <div class="icon2">
            <a><img src="/static/img/bin.png" alt="휴지통" class="bin"></a>
            <img src="/static/img/cardMascot2.png" class="mascot">
            <a><img src="/static/img/pen.png" alt="글쓰기" class="pen"></a>
        </div>

        <!-- 나담님 코드 -->
        <!-- <ul class="todo-list">
            {% for todo in todos %}
                <li>
                    <a href= "{% url 'todo:update' todo.id %}" > 완료</a>
                    <span>{{todo.content}}</span>
                    <a href= "{% url 'todo:delete' todo.id %}" > 삭제</a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <ul class="done-list">
            {% for done in dones %}
                <li>
                    <a href= "{% url 'todo:update' done.id %}" > 취소</a>
                    <span>{{done.content}}</span>
                    <a href= "{% url 'todo:delete' done.id %}" > 삭제</a>
                </li>
    
            {% endfor %}
        </ul>
    
        <div id="input-box">
            <form class="todo-form" action="{% url 'todo:create' %}" method="post">
                {% csrf_token %}
            <input class="todo-input" type="text" name="content" placeholder="할 일 작성하기" />
            <input type="submit" hidden="true" />
            </form>
        </div> -->
    

        <!-- 여기에 나담님 코드 입혀야 됨-->
        <div id="input-box">
            <form class="todo-form" action="{% url 'todo:create' %}" method="post">
                {% csrf_token %}
            <input class="todo-input" type="text" name="content" placeholder="할 일 작성하기" />
            <input type="submit" hidden="true" />
            </form>
        </div>

         <div class="todo-list-container">
             <div class="todo1">
               <input type="checkbox" class="check"></input>
               <h3> 숄더 프레스</h3>
               <img src="/static/img/cancel.png" class="cancel">
               <div class="line"></div>
             </div>
             <div class="todo2">
                <input type="checkbox" class="check"></input>
                <h3> 런닝머신 10분</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo3">
                <input type="checkbox" class="check"></input>
                <h3> 사이클</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo4">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo5">
                <input type="checkbox" class="check"></input>
                <h3> 오버헤드 익스텐션</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo6">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo7">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo8">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo9">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo10">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo11">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo12">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo13">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo14">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
              <div class="todo15">
                <input type="checkbox" class="check"></input>
                <h3> 숄더 프레스</h3>
                <img src="/static/img/cancel.png" class="cancel">
                <div class="line"></div>
              </div>
         </div>


         <div class="wrap">
          <a href="#pop_info_1">
            <button class="clearbtn">
              오늘의 운동 완료하기
            </button>
          </a>
         
         </div>
         
        <div class="FooterBar">
            <img src="/static/img/Safari Tool bar.png">
        </div>
</div>

<div id="pop_info_1" class="pop_wrap" style="display:none;">
  <div class="pop_inner">
    <p class="dsc">팝업창</p>
    <button type="button" class="btn_close">닫기</button>
  </div>
</div>
    <script src="todayroutine.js"></script>



</body>
</html>